/* Body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header styling */
.header {
    background-color: #6A1B0C;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

/* Logout button styling */
.logout-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: #6A1B0C;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #872A14;
}

/* Tabs styling */
.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #EDEDED;
    padding: 10px 0;
}

.tabs a {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #6A1B0C;
    font-weight: bold;
    text-decoration: none;
}

.tabs a:hover {
    color: #872A14;
}

.tabs .active {
    border-bottom: 3px solid #6A1B0C;
    font-weight: bold;
}

/* Container styling */
.container {
    margin: 20px auto;
    width: 50%; /* Adjust width as needed */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Center the buttons */
    margin-top: 40px;
}

/* List styling for the buttons */
.buttons ul {
    list-style-type: none; /* Remove bullet points */
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the items */
    display: block;
}

.buttons ul li {
    flex: 1; /* Make each button take equal space */
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttons button {
    background-color: #6A1B0C;
    color: white;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 100%; /* Make buttons take full width of their container */
}

.buttons button:hover {
    background-color: #872A14;
}

/* View button styling */
.view-button {
    background-color: #6A1B0C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
}

.view-button:hover {
    background-color: #872A14;
}

/* Back button styling */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.back-button a:hover {
    text-decoration: underline;
}
